<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqltiming" level="INFO" />

	<!-- ERROR, WARN, INFO, DEBUG or TRACE. -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>